body {
  background-color: #82CDFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.winner-title {
  width: 430px;
  height: 74px;
  background-color: #0099FF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 33px;
  font-weight: 700;
  border-radius: 12px 12px 0 0;
}

.scoreboard {
  width: 950px;
  height: 148px;
  background-color: #0099FF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 17px;
}

.scoreboard-player-name {
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
}

.score {
  width: 130px;
  height: 120px;
  background-color: #FFFFFF;
  border-radius: 17px;
  font-size: 104px;
  font-weight: 900;
  line-height: 108px;
  text-align: center;
  color: #0099FF;
}

.vs-small {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 58px;
  margin: 0 20px;
}

.battle-field {
  margin-top: 56px;
  height: 414px;
  display: flex;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button {
  width: 220px;
  height: 80px;
  background-color: #0099FF;
  font-size: 44px;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 10px #000000;
  transition: 300ms;
}

.button:hover {
  border: 1px solid #0099FF;
  background-color: transparent;
  color: #0099FF;
  box-shadow: 1px 1px 1px #000000;
}

.field-box {
  width: 1313px;
  height: 414px;
  background-color: #0099FF;
  margin: 0 19px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  box-sizing: border-box;
}

.field {
  width: 464px;
  height: 365px;
  background-color: #DBF1FF;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vs-big{
  font-size: 104px;
  color: #FFFFFF;
  font-weight: 900;
}

.config{
  margin-top: 22px;
}

.button-reset{
  margin-left: 101px;
}

.move-image{
  width: 70%;  
}

.field-p2 img{
  transform: scaleX(-1);
}

